.content
  %h2 スライドを編集
  = form_for @slide,:html=>{:multipart=>true} do |f|
    %div
      = f.label :title
      = f.text_field :title
    %div
      = f.label :description
      = f.text_area :description, :rows => 3
    %br
    = f.submit "Edit Slide", :class => "btn btn-success"
