
%h2 PowerPointのアップロード

%div
  = form_for @slide do |f|
    = f.label :title
    = f.text_field :title
    = f.label :description
    = f.text_area :description
    = f.label :ion
    = f.text_field :description
    = f.submit

