
%h2 PowerPointのアップロード

%div
  = form_for @slide do |f|
    %div
      = f.label :title
      = f.text_field :title
    %div
      = f.label :description
      = f.text_area :description, :rows => 3
    %div
      = label_tag :file, "File"
      = file_field_tag :file
    %br
    = f.submit "Create Slide", :class => "btn btn-success"

