#wrapper
  #container.container-fluid
    .row-fluid
      #sidebar.span2
        #slide-list
          %table.table.table-hover
            %thead
            %tbody
              - @slide.pages.each do |page|
                %tr
                  %td
                    - image = @slide.path && page.filename ? "/" + @slide.path + "/" + page.thm_filename : "Desert.jpg"
                    = image_tag image
        #canvas-menu
          %p Color
          %div
            #blackButton.btn.changeColor
            #whiteButton.btn.changeColor
            #blueButton.btn.changeColor
            #redButton.btn.changeColor
            #orangeButton.btn.changeColor
            #greenButton.btn.changeColor
          %br
          %br
          %p Line width
          %input#lineWidth{:type => "range", :min => "1", :max => "8", :value => "3"}
      #slideMain.span10
        #slide
          %div
            %canvas#slidePage{:height => "550px"}
        #buttons
          #showCanvas.btn.btn-large
            %i.icon-pencil
          #clCanvas.btn.btn-large
            %i.icon-remove
          / .btn.btn-large{:onclick => "slide.showSlide()"}
          /   %i.icon-play
          #prev.btn.btn-large{:onclick => "slide.prevSlide()"}
            %i.icon-chevron-left
          #next.btn.btn-large{:onclick => "slide.nextSlide()"}
            %i.icon-chevron-right
          #screen-button.btn.btn-large
            %i.icon-fullscreen
#for_js{:own => "#{@slide.user.id}", :current => "#{current_user.id}"}
:javascript
  $(document).ready(function() {
    if (document.URL.indexOf("presenter") != -1) {
      if ($("#for_js").attr("own") != $("#for_js").attr("current")) {
        location.href = "/";
      }
    }
  })

= javascript_include_tag "/js/socket.io.js"
= javascript_include_tag "/js/socketManager.js"
= javascript_include_tag "/js/draw.js"
= javascript_include_tag "/js/slide.js"
= javascript_include_tag "/js/test.js"
