.user_header
  %h1= @user.name
  %div Email: #{@user.email if @user.email}
  %div Member since: #{@user.created_at.strftime("%Y/%m/%d")}
.user_content
  .user_slides
    - if @queued_slides.any? or @slides.any?
      - if @queued_slides.any?
        %h2 変換待ちスライド(#{@queued_slides.count})
        %ul.queued_slides_list
          - @queued_slides.each do |slide|
            %li.queued_slide_in_list
              = image_tag "converting.png"
              %h4= truncate_lines(slide.title, 24)
          - @error_slides.each do |slide|
            %li.queued_slide_in_list.error_slide
              %a{:href => slide_path(slide), "data-method" => :delete}
                .close_btn ×
              = image_tag "convert_error.png"
              %h4= truncate_lines(slide.title, 24)
      %h2 スライド(#{@slides.count})
      %ul.slides_list
        = render "slides/slide_in_list", :slides => @slides

    - else
      %h2 まだスライドはありません
    = link_to "Create Slide", new_slide_path, :class => "btn btn-primary"
